main {
    display: flex;
    justify-content: center;
    min-height: 80vh;
}
.container-ingressos{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}
.pista{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #800080;
    margin: 10px;
    width: 60vw;
    padding: 30px 50px;
    /* border-radius: 10px; */
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c3) 0.1turn, var(--c3) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}
.pista h1{
    margin-bottom: 15px;
    text-transform: uppercase;
}
.pista ul{
    width: 50vw;
}
.pista li{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    height: 4.5vh;
    margin-top: 40px;
    padding-bottom: 40px;
}
.modo-escuro .pista li{
    border-bottom: 2px solid white;
}
li .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item .tipo-ingresso{
    width: 30px;
}
.item h2{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 125%;
}
.item img{
    width: 30px;
}
.item img:hover{
    cursor: pointer;
}
.compra{
    display: flex;
    width: 22vw;
    justify-content: space-between;
}
.container-quant{
    display: flex;
    gap: 1vw;
    align-items: center;
}
.quant{
    display: flex;
    background: transparent;
    border: none;
    font-size: 125%;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #1b0f22;
    width: 13px;
    justify-content: center;
    align-items: center;
}
.modo-escuro .quant{
    color: white;
}
.valor-total{
    display: flex;
    background: transparent;
    border: none;
    font-size: 125%;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #1b0f22;
    justify-content: center;
    align-items: center;
    width: 120px;
}
.modo-escuro .valor-total{
    color: white;
}
.total{
    margin-right: 40px;
}
button{
    padding: 10px;
    margin-top: 20px;
    background: transparent;
    border: 2px solid #800080;
    border-radius: 10px;
    font-size: 125%;
    text-transform: uppercase;
}
.modo-escuro button{
    color: white;
}
button:hover{
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background-color: #b30fc9;
    border: 2px solid #1b0f22;
}
.modo-escuro button:hover{
    background-color: #800080;
    border: 2px solid white;
}
dialog::backdrop{
    background-color: rgb(0 0 0 / .95);
}
dialog{
    border: 3px solid #800080;
    /* border-radius: 10px; */
    width: 40vw;
    height: 65vh;
    margin: 20vh 30vw;
    padding: 30px;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c3) 0.1turn, var(--c3) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}
.modo-escuro dialog{
    background-color: black;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}
.modal-form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-form ul{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}
.modal-form h1{
    text-align: center;
}
.modo-escuro .modal-form h1{
    color: white;
}
.modal-form li{
    width: 30vw;
}
.modal-form input{
    width: 30vw;
    background: transparent;
    border: none;
    border-bottom: 2px solid #800080;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}
.modo-escuro .modal-form input{
    color: white;
}
.modal-form input::placeholder{
    font-size: 14px;
}
.modal-form input:focus, select:focus{
    background: transparent;
    outline: 0;
}
#ddd{
    width: 8vw;
}
#tel{
    margin-left: 4vw;
    width: 18vw;
}
.compra-modal{
    display: flex;
    justify-content: space-between;
}
#valor-total-modal{
    width: 106px;
    border: none;
    font-size: 120%;
    color: #1b0f22;
}
.modo-escuro #valor-total-modal{
    color: white;
}
#quant-modal{
    width: 122px;
    border: none;
    font-size: 120%;
    color: #1b0f22;
    text-align: right;
}
.modo-escuro #quant-modal{
    color: white;
}
.modal-form button{
    margin-top: 0;
}
#btn-cancelar{
    padding: 10px;
    background: transparent;
    border: 2px solid #800080;
    border-radius: 10px;
    font-size: 120%;
    text-transform: uppercase;
    width: 140px;
}
.modo-escuro #btn-cancelar{
    color: white;
}
#btn-cancelar:hover{
    transition: 0.2s ease-in-out;
    cursor: pointer;
    background-color: #b30fc9;
    border: 2px solid #1b0f22;
}
.modo-escuro #btn-cancelar:hover{
    background-color: #800080;
    border: 2px solid white;
}
.botao-compra{
    display: flex;
    justify-content: space-around;
}
.pedido{
    display: none;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    margin-top: 15vh;
    padding: 30px 50px;
    border: 2px solid;
    border-image: conic-gradient(from var(--angle), var(--c2), var(--c3) 0.1turn, var(--c3) 0.15turn, var(--c2) 0.25turn) 30;
	animation: borderRotate var(--d) linear infinite forwards;
}
.pedido ul{
    display: flex;
    flex-direction: column;
    gap: 2vh ;
    width: 50vw;
    align-items: center;
}
.pedido h1{
    width: 40vw;
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
}
.pedido li{
    display: flex;
    justify-content: space-between;
    width: 40vw;
}
.pedido label{
    width: 20vw;
    color: #b30fc9;
}
.modo-escuro .pedido label{
    color: #800080;
}
.pedido input{
    width: 20vw;
    background: transparent;
    border: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: left;
    color: #1b0f22;
}
.modo-escuro .pedido input{
    color: white;
}
.pedido #ddd-pedido{
    width: 2vw;
    text-align: left;
}
.pedido #tel-pedido{
    width: 18vw;
    text-align: left;
}
.pedido .compra-pedido input{
    margin-top: 15px;
    font-size: 125%;
}
.pedido #quant-pedido{
    text-align: left;
}
.modal-alert{
    width: 50vw;
    height: 31vh;
    text-align: center;
    margin: 30vh 25vw;
}
.modal-alert p{
    margin-top: 15px;
    margin-bottom: 15px;
}
.modo-escuro .modal-alert p{
    color: white;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 90deg;
    inherits: true;
  }
  
  @property --gradX {
    syntax: '<percentage>';
    initial-value: 50%;
    inherits: true;
  }
  
  @property --gradY {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
  }

:root {
	--d: 2500ms;
	--angle: 90deg;
	--gradX: 100%;
	--gradY: 50%;
	--c1: #800080;
	--c2: transparent;
    --c3: #b30fc9;
}
@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@media screen and (max-width: 767px){
    .pista{
        width: 80vw;
    }
    .pista ul{
        width: 70vw;
    }
    .pista li{
        height: 1vh;
    }
    .pista h1{
        font-size: 24px;
    }
    .item h2{
        font-size: 14px;
    }
    .item img{
        width: 20px;
    }
    .compra{
        width: 39vw;
    }
    .quant{
        font-size: 14px;
    }
    .valor-total{
        font-size: 14px;
        width: 100px;
    }
    .total{
        margin-right: 25px;
    }
    .pista button{
        font-size: 14px;
    }
    dialog{
        width: 70vw;
        height: 55vh;
        margin: 20vh 15vw;
    }
    .modal-form li{
        width: 60vw;
    }
    .modal-form input{
        width: 60vw;
    }
    .modal-form h1{
        font-size: 24px;
    }
    #quant-modal{
        font-size: 16px;
        width: 102px;
    }
    #valor-total-modal{
        font-size: 16px;
        width: 85px;
    }
    .modal-form input{
        font-size: 10px;
    }
    .modal-form input::placeholder{
        font-size: 10px;
    }
    #ddd{
        width: 15vw;
    }
    #tel{
        width: 41vw;
    }
    #btn-cancelar{
        width: 100px;
        font-size: 14px;
        font-weight: 500;
    }
    .modal-form button{
        font-size: 14px;
        font-weight: 500;
    }
    .pedido{
        width: 70vw;
    }
    .pedido li{
        width: 60vw;
    }
    .pedido h1{
        width: 60vw;
        font-size: 24px;
    }
    .pedido label{
        width: 30vw;
        font-size: 14px;
    }
    .pedido input{
        width: 30vw;
        font-size: 12px;
    }
    .pedido #ddd-pedido{
        width: 5vw;
    }
    .pedido #tel-pedido{
        width: 25vw;
    }
    .pedido .compra-pedido input{
        font-size: 16px;
    }
    .modal-alert{
        width: 80vw;
        height: 35vh;
        text-align: center;
        margin: 30vh 10vw;
    }
    .modal-alert p{
        font-size: 14px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .pista h1{
        font-size: 28px;
    }
    .item h2{
        font-size: 18px;
    }
    .item img{
        width: 22px;
    }
    .compra{
        width: 24vw;
    }
    .valor-total{
        font-size: 18px;
    }
    .quant{
        font-size: 18px;
    }
    .total{
        margin-right: 28px;
    }
    dialog{
        height: 50vh;
    }
    .modal-form h1{
        font-size: 25px;
    }
    #quant-modal{
        font-size: 16px;
    }
    #valor-total-modal{
        font-size: 16px;
    }
    .modal-form input{
        font-size: 10px;
    }
    .modal-form input::placeholder{
        font-size: 10px;
    }
    #btn-cancelar{
        width: 110px;
        font-size: 15px;
        font-weight: 500;
    }
    .modal-form button{
        font-size: 15px;
        font-weight: 500;
    }
    .pedido{
        width: 70vw;
    }
    .pedido li{
        width: 60vw;
    }
    .pedido h1{
        width: 60vw;
    }
    .pedido label{
        width: 30vw;
    }
    .pedido input{
        width: 30vw;
    }
    .pedido #tel-pedido{
        width: 28vw;
    }

}
