main {
    display: flex;
    justify-content: center;
}
.container-ingressos{
    display: flex;
    padding: 30px;
    flex-direction: column;
    align-items: center;
}
.pista{
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 2px solid #800080;
    margin: 10px;
    width: 60vw;
    padding: 30px 50px;
    border-radius: 5px;
}
.pista h1{
    margin-bottom: 15px;
    text-transform: uppercase;
}
.pista ul{
    width: 50vw;
}
.pista li{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid black;
    height: 4.5vh;
    margin-top: 40px;
    padding-bottom: 40px;
}
.modo-escuro .pista li{
    border-bottom: 2px solid white;
}
li .item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.item .tipo-ingresso{
    width: 30px;
}
.item h2{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 125%;
}
.item img{
    width: 30px;
}
.item img:hover{
    cursor: pointer;
}
.compra{
    display: flex;
    width: 22vw;
    justify-content: space-between;
}
.container-quant{
    display: flex;
    gap: 1vw;
    align-items: center;
}
.quant{
    display: flex;
    background: transparent;
    border: none;
    font-size: 125%;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    color: #1b0f22;
    width: 12px;
    justify-content: center;
    align-items: center;
}
.modo-escuro .quant{
    color: white;
}
.total{
    margin-right: 42px;
}

@media screen and (max-width: 767px){
    .pista{
        width: 80vw;
    }
    .pista ul{
        width: 70vw;
    }
    .pista li{
        height: 1vh;
    }
    .pista h1{
        font-size: 24px;
    }
    .item h2{
        font-size: 14px;
    }
    .item img{
        width: 20px;
    }
    .compra{
        width: 39vw;
    }
    .quant{
        font-size: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .pista h1{
        font-size: 28px;
    }
    .item h2{
        font-size: 18px;
    }
    .item img{
        width: 22px;
    }
    .compra{
        width: 24vw;
    }
}
