*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    color: #1b0f22;
    transition: 0.5s ease-in-out;
}
body.modo-escuro{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}
ul{
    list-style: none;
}